/*Cores:*/
:root{
  --white: #f8f8ff;
  --black: #0b1215;
  --lightgray: #e9e9ef;
  --gray: #bdbec4;
  --darkgray: #737477;
  --blue: #144dc2;
  --red: #d85a5a;
  --green: #89cf99;
  --gold: #cd9812
}
/*Fontes/estilos-----------------------------------*/
.dark {
  color: var(--black);
}
.light {
  color: var(--white);
}
.medium-gray{
  color: var(--gray);
}
.bold{
  font-weight: bold;
}
.blue{
  color: var(--blue);
}
.gold{
  color: var(--gold);
}
.dark-gray{
  color: var(--darkgray);
}

.bg-lightgray{
  background-color: var(--lightgray);
}
.bg-white{
  background-color: var(--white);
}
.bg-black{
  background-color: var(--black);
}

.center{
  text-align: center;
}
.general-width{
  padding: 0.5% 25%;
}
.flex-center{
  display: flex;
  align-items: center;
}

main{
  font-size: 1.1em;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
body a {
  text-decoration: none;
}
body a:hover {
  color: var(--red);
}
input:hover{
  background-color: var(--green);
}

h1 {
  font-size: 3em;
}
h2{
  font-size: 1.6em;
  margin: 0;
  padding-top: 2%;
}
h3{
  margin: 0;
  padding-top: 10%;
}
figure{
  margin: 0px;
}
p{
  margin: 0;
}

/*Home========================================================================================================*/
.subtitle{
  font-size: 1.6em;
}
.img-small{
  width: 125px;
  height: auto;
}
.lessons{
  padding-bottom: 3%;
}

.cards{
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
  gap: 10%;
}
.card{
  padding: 3%;
  border-radius: 5px;
  width: 20%;
}
.cards-titles{
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
}
.cards-small{
  display: flex;
  justify-content: space-around;
  gap: 5%;
  font-size: 0.9em;
}
.card-small{
  padding: 8% 3% 8% 3%;
  border-radius: 5px;
  width: 220px;
}
.img-smaller{
  width: 65px;
  height: auto;
}
.topics{
  padding-bottom: 3%;
}

.reg-card{
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  margin: 5%;
  padding: 1%;
  gap: 10%;
}
.reg-text{
  padding-left: 2%;
}
.reg-btn{
  display: inline-block;
  padding: 2% 4%;
  margin: 2% 0% 1% 0%;
  background: var(--white);
  color: var(--blue);
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 3px;
}
.reg-card img{
  width: 30em;
  border-radius: 3px;
}



/*Cabeçalho===================================================================================================*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5% 20%;
}

.logo-img img{
  height: 40px;
  width: 40px;
}
.logo-text {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  margin-left: 5%;
}

.search {
  width: 15em;
  padding: 3px 6px 3px 26px;
  font-size: 1em;
  border: 0px;
  border-radius: 3px;
  background-color: var(--lightgray);
}
.search-icon{
  padding-left: 3px;
  position: absolute;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon img{
  width: 35px;
  height: auto;
}
.nav-links {
  gap: 10%;
  justify-content: flex-end;
}

/*Rodapé======================================================================================================*/
footer{
  background-color: var(--black);
  color: var(--white);
  padding: 0.5% 20%;
}
.footer-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul{
  list-style: none;
  padding: 0;
  margin: 1em;
}
footer li{
  margin-bottom: 0.5em;
}
.icon-small img{
  width: 28px;
  height: auto; 
}
.copyright{
  color: var(--gray);
  font-size: 0.85em;
  padding-left: 2%;
}
.sections{
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  gap: 30%;
}